@font-face {
    font-family: 'bright-font';
    src: url(font/Sansation-Regular.ttf);
}
p{
font-family: 'bright-font','Times New Roman', Times, serif;
font-size: 1.9rem;
color: #707779;
line-height: 1.rem;
text-align: left;
}
h2 {
    font-family: 'bright-font','Times New Roman', Times, serif;
    color: #707779;  
}
h1{
    font-family: 'bright-font','Times New Roman', Times, serif;
    color: #707779;
}
#nav-it{
    font-family: 'bright-font','Times New Roman', Times, serif;
    color: #707779;  
}

/* nav bar*/
.logo{
    width: 60%;
}

  
#nav{
   padding: 10px 0;
   background-color: #E5BEAF;
}
.items{
    margin-right: 6rem;
}

/*   first-continer*/
.first-continer{
text-align: center;
background-color: white;

}
.img-continer{
 margin: 5rem 5rem 0rem 5rem;
 background-color: white;

}
.imgs{
    width: 80%;
    margin-bottom: 3rem;
}
.img1{
    padding-left: 1rem;
    padding-top: 1rem;
    border-left: thick solid #87CFD9;
    border-top: thick solid #87CFD9;
    width: 100%;
    height: 100%;
    margin-bottom: 0
    
}

.partion {
    text-align: center;
   
    margin: 3rem auto;
}
.img2{
    width: 66%;
    margin: 0 5rem 5rem 5rem;

}
.carousel-col{
    padding-left: 1rem;
    padding-top: 1rem;
    border-left: thick solid #87CFD9;
    border-top: thick solid #87CFD9;  
}


#footer{
text-align: center;
margin-top: 5rem;
padding-top: 2rem;
background-color: #E5BEAF;
margin-bottom: 0;
color: #707779;

}
.icons{
    color: #707779;
    margin: 2rem 1rem;
}
#brife{
    margin-bottom: 3rem;
}
@media screen and (max-width: 500px) {
    .imgs{
       
        margin-bottom: 3rem;
    }
    p{
        
        font-size: 1.3rem;
       
        line-height: 1.5rem;
        }
        .img-continer{
            margin: 5rem 1rem 0rem 1rem;
           
           }
           .partion {
            text-align: center;
           
            margin: 3rem auto;
        }
        .img2{
            width: 66%;
            margin: 0 auto 2rem auto;
        
        }
  }